.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }

  h2 {
    font-size: 15px;
  }

  svg {
    cursor: pointer;
    margin: 10px;

    &:hover {
      transform: scale(1.5);
      transition: ease-in-out 0.3s;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}
